{% extends 'books/base.html' %}

{% load static %}

{% block content %}

  <div class="container mt-5 col-9 col-md-6 col-lg-4">
    <div class="text-center">
      <h1 class="h2">Login</h1>
    </div>
    <div id="loginForm" class="form-container mt-3">
      <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="form_type" value="login">
        <div class="mb-3">
          <input type="text" class="form-control" id="loginUsernameEmail" placeholder="User Name or E-mail (required)"
                 name="username_or_email" required>
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" id="loginPassword" placeholder="Pasword (required)"
                 name="password" required>
        </div>
        <p>
          <button type="submit" class="btn btn-primary"> Login</button>
          Don't have an account? <a
            class="link-dark fw-bolder link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
            href="{% url 'register' %}">Register here</a>.
        </p>
      </form>
    </div>
  </div>

{% endblock %}