* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
/*  adapted from https://codepen.io/tomdu3/pen/VwqQNWo */
  .waviy {
    position: relative;
  }
  .waviy span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: #274472;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }

  img {
    width: 15rem;
    height: 15rem;
    display: inline-block;
  }