{% extends 'books/base.html' %}

{% block style %}
{% endblock %}
{% block content %}
<div class="title text-center">
    <h1>{{user.username}}'s Page</h1>
</div>
{% if user.is_authenticated %}
    {% if books|length != 0 %}
        {% for book in books %}
            <div>
                {{ forloop.counter }} | {{ book.title }} | {{ book.author }} | {{ book.category.name }}
            </div>
        {% endfor %}
    {% else %}
        <div class="text-center">
            <h3>No books yet</h3>
        </div>
    {% endif %}
{% endif %}
{% endblock %}
{% block script %}
{% endblock %}
