{% extends 'books/base.html' %}

{% block style %}
{% endblock %}
{% block content %}
<div class="title text-center">
    <h1>{{user.username}}'s Page</h1>
</div>
{% if user.is_authenticated %}
{% if books|length != 0 %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Author</th>
            <th>Title</th>
            <th>Category</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ book.author }}</td>
                <td><a href="{% url 'book_detail' slug=book.slug %}">{{ book.title }}</a></td>
                <td>{{ book.category }}</td>
                <td>
                    <a href="{% url 'book_edit' slug=book.slug %}" class="btn btn-primary btn-sm">Edit</a>
                </td>
                <td>
                    <a href="{% url 'book_delete' slug=book.slug %}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="text-center">
    <h3>No books yet</h3>
</div>
{% endif %}
{% endif %}
{% endblock %}
{% block script %}
{% endblock %}
