{% extends 'books/base.html' %}

{% block style %}
{% endblock %}
{% block content %}
<div class="title text-center">
    <h1>{{user.username}}'s Favourites</h1>
</div>
{% if user.is_authenticated %}
{% if books|length != 0 %}
<p>You liked {{ books|length}} books.</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Author</th>
            <th>Title</th>
            <th>Category</th>
            <th>Likes</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ book.author }}</td>
                <td><a href="{% url 'book_detail' slug=book.slug %}">{{ book.title }}</a></td>
                <td>{{ book.category }}</td>
                <td >{{ book.likes_counter }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div >
    <p>No favourite books yet</p>
</div>
{% endif %}
{% endif %}
{% endblock %}
{% block script %}
{% endblock %}
